<div class="container" >
    <div class="header-content">
        <img src="\assets\atom-logo.jpg" alt="">
        <span>atom</span>
    </div>

    <div class="books-container">
        <div class="books-label">Books</div>
        <div> <button mat-flat-button color="primary" class="button-label" (click)="createBook()">Create New
                Book</button>
        </div>
    </div>

    <mat-form-field class="search-field">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Search" class="search-input" [(ngModel)]="searchTerm" (ngModelChange)="filterBooks(searchTerm)">
    </mat-form-field>

    <div class="books-list">
        <div class="all-books-heading">All Books</div>
        <div class="books-wrap">
            <div class="each-book-container" *ngFor="let book of filteredBooks">
                <div class="book-heading">{{book.volumeInfo?.title || book?.title || ' ---'}}</div>
                <div>
                    <div class="book-info">Authors: {{book.volumeInfo?.authors?.join(', ') || book?.authors|| ' ---'}} </div>
                    <div class="book-info">Publisher: {{book.volumeInfo?.publisher || book?.publisher|| ' ---'}}</div>
                    <div class="book-info">Published Date: {{book.volumeInfo?.publishedDate || book?.publishedDate|| ' ---'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>