<!-- app.component.html -->
<div class="toolbar">
    <mat-toolbar>
        <button mat-icon-button (click)="toggleSideNav()">
          <mat-icon>menu</mat-icon>
          <!-- <span>Menu</span> -->
        </button>
      </mat-toolbar>
      <mat-toolbar>
        <button mat-icon-button (click)="toggleSideNav()">
          <mat-icon>home</mat-icon>
          <!-- <span>Home</span> -->
        </button>
      </mat-toolbar>
      <mat-toolbar>
        <button mat-icon-button (click)="toggleSideNav()">
          <mat-icon>settings</mat-icon>
          <!-- <span>Settings</span> -->
        </button>
      </mat-toolbar>
</div>
  
  
