.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
    display: flex;
}

.nav-button {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid lightgrey;
    button{
        color: gray;
        margin: 10px 0px;
        align-self:flex-start
    }
    .button-content {
        display: flex;
        gap: 1rem;
        color: gray
    }
}

.hide-when-drawer-open {
    display: none;
}